
/*menuitem*/
.menuStyle {
    position: fixed; /* Фиксированное положение */
    left: 220px;
    top: 0; /* Левый нижний угол */
    background-color: #FFF;
    background-color: #EEE;
    /*vertical-align: middle;*/
    display: flex;
    /*max-height:32px;*/

}

.uiButtons {
    
}

.UIButton {
    width: 80px;
    height: 28px;
    background-color: #FFF;
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
}

/*topics*/

.topicsStyle {
    left: 0px;
    top: 0px;
    position: absolute;
    width: 220px;
    height: 500px;
    overflow-y: scroll;
    float: right;
    background-color: #EEE;
}

.topicButton {
    float: right;
    color: black;
    border: 1px solid #555555;
    margin-top:-1px;
    /*text-align: left;*/
    /*position: fixed;*/
}

.topicsBackground {
    left: 0px;
    top: 0px; 
    border: 0px;
    margin: 0px;
    padding: 0px;
    height: 100%;
    position: fixed;
    background-color: #EEE;
}

 /*contentions*/
.verticalContainer {
    height: 14px;
    border: 1px solid black;
}

.verticalCenter {
    border: 0px;
    padding: 0px;
    margin-top: 0px;

    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 0.9em;
    /*border: 1px;*/
    solid: #000000;
    display: inline-block;
}

.contentionElement {
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
    margin: 0px;
    position: absolute;
    border: 1px solid #000000;
    display: inline-block;
}

.rawContentionElement {
    padding: 0px;
    border-left: 3px solid #000000;
    border-right: 3px solid #000000;

    min-width: 100px;
    max-width: 320px;
    position: relative;
}

*, ::after, ::before {
    box-sizing: border-box;
}
