

.menuStyle {
    position: fixed; /* Фиксированное положение */
    left: 200px;
    top: 0; /* Левый нижний угол */
    background-color: #FFF;
}

.topicsStyle {
    font-size: 120%;
    font-family: monospace;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.verticalContainer {
    height: 14px;
    border: 1px solid black;
}



.uiButtons {
    background-color: #EEE;
    vertical-align: middle;
    display: flex;
}

.UIBbutton {
    width: 80px;
    background-color: #FFF;
    border-width: 1px;
    margin: 0px;
}

.topicButton {
    color: black;
    border: 1px solid #555555;
    text-align: left;
    position: absolute;
}

.verticalCenter {
    border: 0px;
    padding: 0px;
    margin-top: 0px;

    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 0.9em;
    /*border: 1px;*/
    solid: #000000;
    display: inline-block;
}

.contentionElement {
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
    margin: 0px;
    position: absolute;
    border: 1px solid #000000;
    display: inline-block;
}

.rawContentionElement {
    padding: 0px;
    border-left: 3px solid #000000;
    border-right: 3px solid #000000;

    min-width: 100px;
    max-width: 320px;
    position: relative;
}
.topicsBackground {
    left: 0px;
    top: 0px; /* Левый нижний угол */
    border: 0px;
    margin: 0px;
    padding: 0px;
    height: 100%;
    position: absolute;
    background-color: #EEE;
}

/*font-family: monospace;*/